/* Home Page responsive stype */
@media(min-width:320px) and (max-width:480px){
    .main{
        position: fixed;
        top:5%;
        left: 2%;
        width: 96%;
        height: 90%;
    }
    nav{
        width: 10%;
        left: 0;
        z-index: 1;
        box-shadow: 0 2px 10px rgb(12, 11, 11);
    }   
    .left-side{
        display: none;
    }
    .content{
        width: 90%;
        overflow-x:none;
    }
    nav i{
        padding: 13px 0;
        font-size: 20px;
    }
    .header_title h1{
        font-size: 50px;
    }
    .header_title h3{
        font-size: 24px;
    }
    header .sc i.icon{
        font-size: 14px;
        text-align: center;
        line-height: 25px;
        display: inline-block;
        margin-right: 5px;
        width: 25px;
        height: 25px;
    }

}
@media(min-width:481px) and (max-width:768px){
    .main{
        position: fixed;
        top:10%;
        left: 2%;
        width: 96%;
        height: 80%;
    }
    nav{
        width: 8%;
        left: 0;
        z-index: 1;
        box-shadow: 0 2px 10px rgb(12, 11, 11);
    }   
    .left-side{
        display: none;
    }
    .content{
        width: 92%;
        overflow-x:none;
    }
    nav i{
        padding: 13px 0;
        font-size: 24px;
    }
    .header_title h1{
        font-size: 70px;
    }
    .header_title h3{
        font-size: 24px;
    }
    header .sc i.icon{
        font-size: 18px;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        margin-right: 5px;
        width: 40px;
        height: 40px;
    }
}
@media(min-width:769px) and (max-width:1024px){
    .main{
        position: fixed;
        top:10%;
        left: 2%;
        width: 96%;
        height: 80%;
    }
    nav{
        width: 6%;
        left: 0;
        z-index: 1;
        box-shadow: 0 2px 10px rgb(12, 11, 11);
    }   
    .left-side{
        display:block;
        width: 40%;
        left: 6%;
    }
    .content{
        width: 54%;
        overflow-x:none;
    }
    nav i{
        padding: 13px 0;
        font-size: 24px;
    }
    
    .header_title h3{
        font-size: 26px;
    }
}

/* about me responsive page style */

@media(min-width:320px) and (max-width:480px){
    hr{
        width: 50%;
        margin: 25px auto;
    }
     h2{
        text-align: center;
    }
    .about-info{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin:50px 0%;
    }
    .about-info div{
        width: 90%;
    }
    .about-skills{
        margin:25px 0%;
    }
    .about .serv{
        margin:25px 0%;
    }
    .about .serv > div{
        width: 90%;
    }
    .acheive{
        margin:25px 0%;
        justify-content: space-around;
        text-align: center;
    }
    .acheive > div{
        width: 50%;
    }

}

@media(min-width:481px) and (max-width:768px){
    .about-info div{
        width: 90%;
    }
    .acheive h6, h2{
        text-align: center;
    }
    .about .serv > div{
        width: 90%;
    }
    .acheive{
        margin:25px 0%;
        justify-content: space-around;
        text-align: center;
    }
    .acheive > div{
        width: 50%;
    }
}

@media(min-width:769px) and (max-width:1024px){
    .left-side .ls-sc i.icon{
        font-size: 18px;
        line-height: 35px;
        margin-right: 5px;
        width: 35px;
        height: 35px;
    }
    .acheive h6{
        text-align: center;
    }
    .about-info div{
        width: 90%;
    }
    .about .serv > div{
        width: 90%;
    }
    .acheive > div{
        width: 50%;
    }
}

@media(min-width:1025px) and (max-width:1200px){
    .left-side .ls-sc i.icon{
        font-size: 18px;
        line-height: 40px;
        margin-right: 5px;
        width: 40px;
        height: 40px;
    }
    .acheive h6{
        text-align: center;
    }
}

/* works responsive page style */

@media(min-width:320px) and (max-width:480px){
    .works .photos{
        justify-content: center;
    }
    .photos div{
        width: 80%;
        margin-bottom: 4%;
        overflow: hidden;
    }
}

@media(min-width:481px) and (max-width:768px){
    .photos div{
        width: 48%;
        margin-bottom: 2%;
        overflow: hidden;
    }
}

@media(min-width:769px) and (max-width:1024px){
    .photos div{
        width: 48%;
        margin-bottom: 2%;
        overflow: hidden;
    }
}

@media(min-width:1025px) and (max-width:1200px){
    
}

/* about me responsive page style */

@media(min-width:320px) and (max-width:480px){

}

@media(min-width:481px) and (max-width:768px){
   
}

@media(min-width:769px) and (max-width:1024px){

}

@media(min-width:1025px) and (max-width:1200px){
    
}

/* about me responsive page style */

@media(min-width:320px) and (max-width:480px){

}

@media(min-width:481px) and (max-width:768px){
   
}

@media(min-width:769px) and (max-width:1024px){

}

@media(min-width:1025px) and (max-width:1200px){
    
}

/* about me responsive page style */

@media(min-width:320px) and (max-width:480px){

}

@media(min-width:481px) and (max-width:768px){
   
}

@media(min-width:769px) and (max-width:1024px){

}

@media(min-width:1025px) and (max-width:1200px){
    
}